fastapi>=0.115.12
pydantic-settings>=2.8.1
openai>=1.74.0
groq>=0.22.0
pymilvus>=2.5.6
sqlmodel>=0.0.24
python-dotenv>=1.1.0
requests>=2.32.3
uvicorn>=0.34.2
itsdangerous>=2.2.0
neon-api>=0.3.0
rich>=14.0.0
jinja2>=3.1.6
psycopg>=3.2.6
psycopg2-binary>=2.9.10
asyncpg>=0.30.0
pprintpp>=0.4.0
beanie[srv]>=2.0.0
motor>=3.7.1
pymongo>=4.11.3
fastembed
numpy
